.container4{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center; 
    
}

.image-card{
    padding: 5px;
    text-align: center;
}
.image{
    width: 300px;
    height: 300px;
    
}

.tags{
    text-align: center;
    padding: 20px 0px;
    background:  linear-gradient(to right, #ff686b, #a5ffd6);
}
.tag{
    outline: none;
    border: none;
    color: black;
    margin: 0px 10px;
    background-color: transparent;
    cursor: pointer;
}

.active{
    font-weight: bolder;
    border-bottom: 5px solid orangered;
}
.page4.light {
    background:  linear-gradient(to right, #ff686b, #a5ffd6);
  }
  
  .page4.dark {
    background-color: grey;
    color: #ffffff;
  }

.tags.light {
    text-align: center;
    padding: 20px 0px;
    background: linear-gradient(to right, #ff686b, #a5ffd6);
    color: #000000;
  }
  
  .tags.dark {
    text-align: center;
    padding: 20px 0px;
    background: grey;
    color: #ffffff; 
  }

@media (max-width: 44rem) {
    .container4{
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
}